@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f4f9;
  color: black;
  font-weight: 500;
} 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #fff;
  padding: 12px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  /* background-color: #111; */

  p {
    margin: 0;
    font-weight: 400;

    span {
      color: red;
      font-weight: 500;
    }
  }
}
